body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #aaa;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
}

.overlay-container {
  width: 200px;
  margin: 10px auto;
  background: white;
}

.dialog-body {
  margin: 20px;
}

.dialog-button {
  margin: 20px;
  background: #aaa;
  text-align: right;
}
