body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
img {
  margin: 0;
  padding: 0;
}

.navigation {
  width: 1024px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 15px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

.nav-h4 {
  flex-grow: 1;
}

.nav-list {
  display: none;
  list-style: none;
}

.nav-list li {
  padding-left: 15px;
}

.info {
  width: 1024px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.intro {
  width: 100%;
  padding-right: 20px;
}

img {
  width: 100%;
}

.intro-img {
  width: 33.33%;
  display: none;
}

.intro h2 {
  padding: 10px 0;
}

.intro h4 {
  color: #aaa;
}

.gallary {
  width: 1024px;
  margin: 100px auto;
  max-width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.gallary h2 {
  padding-bottom: 20px;
}

.gallary-item {
  width: 25%;
}

.gallary-flex {
  display: flex;
  align-items: center;
}

.gallary-item img {
  width: 100%;
}

.contact {
  width: 1024px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.contact-item {
  flex-grow: 1;
}

.contact-item h5 {
  text-transform: uppercase;
  color: red;
}

@media (min-width: 768px) {
  .navigation p {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .intro {
    width: 66.66%;
  }

  .intro-img {
    display: flex;
  }
  .contact {
    display: flex;
  }
}

@media (min-width: 1024px) {
}
