body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ccc;
}

h3,
li,
img {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
}

ul {
  list-style: none;
}

.title span {
  color: #ed8936;
}

.list,
.sign {
  display: flex;
}

img {
  width: 40px;
}

.title {
  padding: 0 15px 0 10px;
}

.list {
  flex-grow: 1;
  color: #2d3748;
}

.list li {
  padding-right: 20px;
}

.sign li {
  color: #718096;
  padding-left: 15px;
}

.list li:hover {
  color: #ed8936;
}
