body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: palevioletred;
}

img,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.container {
  background: white;
  width: 360px;
  margin: 100px auto;
  border-radius: 20px;
}

img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.info {
  padding: 15px 10px;
}

h4 {
  color: #aaa;
}

.label {
  padding: 5px 0;
}

p {
  padding-bottom: 10px;
}

.value {
  display: flex;
  align-items: center;
}

.price {
  flex-grow: 1;
}

.btn {
  color: white;
  background: #4fd1cf;
  border: 0;
  padding: 5px 8px;
  border-radius: 5px;
  margin-top: 5px;
}

.btn:hover {
  background: black;
}
