body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
li {
  margin: 0;
  padding: 0;
}

.container {
  background-image: linear-gradient(100deg, #ff5862, #ff9966);
  height: 70vh;
  color: white;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.navigation-h3 {
  flex-grow: 1;
}

.list {
  display: flex;
  list-style: none;
}

.list li {
  padding-left: 20px;
}

.name {
  width: 800px;
  margin: 100px auto;
}

.name h1 {
  padding: 10px 0;
}

.aboutme {
  width: 800px;
  margin: 100px auto;
}

.info {
  display: flex;
  align-items: center;
}

.img-container {
  width: 33.33%;
}

img {
  width: 100%;
}

.about {
  width: 66.66%;
  padding-left: 20px;
}

.about p {
  padding: 10px 0;
}

.btn {
  color: white;
  background-image: linear-gradient(100deg, #ff5862, #ff9966);
  border: 0;
  padding: 5px 10px;
  border-radius: 10px;
}
