.container {
    width: 1024px;
    margin: 100px auto;
    display: flex;
    position: relative;
}

.box1 {
    width: 300px;
    height: 300px;
    background: palevioletred;
    margin: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.box2 {
    width: 300px;
    height: 300px;
    background: plum;
    margin: 5px;
}

.box3 {
    width: 300px;
    height: 300px;
    background: peru;
    margin: 5px;
}