body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h3,
li {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  align-items: center;
  background: cornflowerblue;
  padding: 10px;
}

.list {
  display: flex;
  list-style: none;
}

h3 {
  flex-grow: 1;
}

li {
  padding-right: 20px;
}

li:hover {
  color: white;
}
