body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h3 {
  margin: 0;
  padding: 0;
}

.box {
  width: 220px;
  border: 1px solid #3498db;
  padding: 1px;
}

h3 {
  color: white;
  background: #3498db;
  padding: 8px 5px;
  cursor: pointer;
}

.list {
  display: none;
}
